#header
  %h1
    = link_to fullname(@post.author), custom_posts(nil, @post.author)
.article
  %h1
    = @post.title
%p
  = textilize(@post.body)
%h1
  = "Posted on #{@post.created_at.to_s}"
%h4
  = "#{@comments.count} comments"
%p
  %h4
    Tags
    = linked_tag_list(@post.tags)
#comments-list
  - @comments.each do |comment|
    %p{:id => comment.id}
      %h4
        = "#{author_link(comment)} said on #{comment.created_at}:"
    %p
      = auto_link(h(comment.body).gsub(/\n/, '<br/>'), :all,  { "rel" => 'nofollow' })

- form_for([@post, @comment],:url=>comment_form_url(@post, @comment)) do |f|
  %p
    %label
      %h4
        = 'Your name or OpenID (required to post links):'
  %p
    = f.text_field :author
  %p
    = f.text_area :body
  %p
    = submit_tag "Post"
    rel="nofollow" is added to all links so no need to spam here ;)